repos:
- repo: local
  hooks:
  - id: trufflehog
    name: TruffleHog
    entry: bash -c 'trufflehog git file://. --since-commit HEAD --results=verified,unknown --no-verification --fail'
    language: system
    stages: ["pre-commit", "pre-push"]