name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -

      - name: Install dependencies with Poetry
        run: |
          C:\Users\runneradmin\AppData\Roaming\Python\Scripts\poetry install

      - name: Set PYTHONPATH to include the source directory
        run: echo "PYTHONPATH=$PWD/sscs_assn_1" >> $GITHUB_ENV

      - name: Configure poetry
        run: |
          C:\Users\runneradmin\AppData\Roaming\Python\Scripts\poetry config virtualenvs.in-project true

      - name: Cache the virtualenv
        uses: actions/cache@v4
        with:
          path: ./.venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        run: |
          pip install pytest pytest-cov requests cryptography jsonschema ruff pylint mypy bandit

      - name: Run lint checks
        run: |
          ruff check src
      
      - name: Run pylint
        run: pylint src/sscs_assn4/__main__.py
    
      - name: Run mypy
        run: |
          pip install mypy
          cd src/sscs_assn4
          mypy --install-types __main__.py merkle_proof.py util.py > mypy.final.txt

      - name: Run SAST check
        run: |
          pip install bandit
          bandit -r src

      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --results=verified,unknown

      - name: Run tests
        run: |
          C:\Users\runneradmin\AppData\Roaming\Python\Scripts\poetry run pytest --cov=sscs_assn_1 --cov-report=term-missing
